:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: #1a1a1a;

  --color-text-light: #000000;
  --color-text-dark: #ffffff;

  --primary-color: #4e89ff;
  --accent-color: #ff6b6b;

  --btn-bg-light:  #f0f4f8;
  --btn-color-light: #222;
  --btn-border-light: #ccc;

  --btn-bg-dark: #1e1e2f;
  --btn-color-dark: #e0e0ff;
  --btn-border-dark: #2c2c47;
}

[data-theme='dark'] {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  

}