.container {
  display: flex;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #bcb5f9;
  border-radius: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: rgb(207, 0, 0);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e8f000;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.textLight {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}
.textDark {
  color: #e8f000;
  font-size: 1rem;
  font-weight: 500;
}
