
:root {
  --btn-bg:  #f0f4f8;
  --btn-color: #222;
  --btn-border: #ccc;
}


body.dark {
  --btn-bg: #1e1e2f;
  --btn-color: #e0e0ff;
  --btn-border: #2c2c47;
}


.button {
  background-color: var(--btn-bg);
  color: var(--btn-color);

  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--btn-border);
}
.button:focus {
  outline: none;
}